footer{
    padding: 22px 25px;
    color: #FFF;
    background-color: $color-grey-3;
}

.footer-title{
    color: var(--white, #FFF);
    font-family: Shrikhand;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;

}
.footer-links{
    text-decoration: none;
    color: #FFF;
}

.footer-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    &__element{
        margin-top: 7px;
        &--ustensil{
            margin-right: 10px;
        }
        &--handshahe{
            margin-right: 6px;
        }
    }
    
}