//HEADER

//LOGO
h1{
    flex-grow: 1;
    text-align: center;
    color: &black;
    font-family: Shrikhand, sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    margin: 0;
    @media (min-width: 768px){
        font-size: 2.3rem;
    }
}

.bloc-logo{
    display: flex;
    position: relative;
    height: 63px;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 89px 0px 89px;
    &__back{
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        color: $color-grey-3;
        &--hidden{
            display: none; // MASQUER LE BOUTTON DE RETOUR
        }
    }
    @media (min-width: 768px){
        height: 96px;
    }
}

//LOCATION
.bloc-map{
    display: flex;
    justify-content: center;
    height: 50px;
    color: $color-grey-3;
    font-weight: 500;
    background-color: $color-grey-2;
    &__map-icon{
        margin: 15px 17px 0 70px;
    }
    &__search{
        border: none;
        background-color: $color-grey-2;
        font-weight: 500;
        font-size: 16px;
    }
}

// EXPLOREZ NOS RESTAURANTS
.bloc-action{
    background-color: $color-grey-1;
    padding-bottom: 57px;
    &__title{
        margin: 0;
        padding: 39px 20px 0px 20px;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        @media (min-width: 768px){
            font-size: 40px;
            margin-bottom: 10px;
        }
    }
    &__subtitle{
        margin: 0;
        padding: 15px 5px 0px 5px;
        font-size: 1.125rem;
        font-weight: 300;
        color: $color-grey-3;
        text-align: center;
    }
    &__button{
        @include button-form;
    }
    &__line{
        display: block;
        @media (min-width: 768px){
            display: inline;;
        }
    }
}