//HEADER
h1{
    flex-grow: 1;
    text-align: center;
    color: black;
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.bloc-logo{
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 14px 89px 13px 89px;
    &__back{
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        color: $color-grey-3;
        // MASQUER LE BOUTTON DE RETOUR
        &--hidden{
            display: none;
        }
    }
}

.bloc-map{
    display: flex;
    justify-content: center;
    height: 50px;
    color: $color-grey-3;
    font-weight: 500;
    background-color: $color-grey-2;
    &__map-icon{
        margin-top: 15px;
        margin-right: 17px;
    }
}

.bloc-action{
    background-color: $color-grey-1;
    padding-bottom: 57px;
    &__title{
        margin: 0;
        padding: 39px 40px 0px 40px;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }
    &__subtitle{
        margin: 0;
        padding: 15px 20px 0px 20px;
        font-size: 1.125rem;
        font-weight: 300;
        color: $color-grey-3;
        text-align: center;
    }
    &__button{
        display: block;
        margin: auto;
        margin-top: 27px;
        font-size: 1rem;
        color: #FFF;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border: none;
        transition: opacity 400ms ease-in-out, box-shadow 400ms ease-in-out;
        &:hover{
            cursor: pointer;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
            // background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
            opacity: 0.80;
        }
    }
}