// Empecher le scroll pendant le chargement de la page
html, body{
    animation: no-overflow 3s linear;
}

// masquer le contenu de la page pendant le chargement
.content{
    opacity: 0;
    animation: show-content both 2s linear;
}

// Loader
.bloc-loader {
    position: absolute;
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    padding-top: 350px;
    opacity: 1;
    background-color: $color-grey-1;
    animation: mask-loader both 2s linear;
    &__loader{
        border: 4px solid #9356DC;
        border-top: 4px solid #FF79DA;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear both 2.3;
    }
    &__txt{
        margin-top: 50px;
        font-weight: 500;
        color: $color-grey-3;
        animation: mask-loader both 2s linear;
        animation: animation-text 1.5s ease-in-out both 2;
    }
}


// -------------------LES ANIMATIONS-------------------

// Animation du loader
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg); }
}

// masquer le loader a la fin de l'animation  
@keyframes mask-loader {
    0% { 
        opacity: 1;
    }
    90% { 
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

// afficher le contenu de la page a la fin de l'animation
@keyframes show-content {
    0% { 
        opacity: 0;
    }
    90% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

// animer le texte du loader
@keyframes animation-text {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

// empecher le scroll pendant le chargement
@keyframes no-overflow {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }
}