.img_restaurant {
    height: 275px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 992px){
        height: 375px;
    }
}

.fiche-menu{
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
    background-color: $color-grey-1;
    position: relative;
    top: -40px;
    max-width: 1055px;
    margin: auto;
    padding: 0 13px 0 13px;
}

.section-menu-header{
    display: flex;
    max-width: 375px;
    margin: auto;
    justify-content: center;
    position: relative;
    right: 10px;
    @media (min-width: 992px){
        padding: 35px 0 20px 0;
    }
    &__title{
        font-family: Shrikhand;
        font-size: 1.75rem;
        font-weight: 400;
        margin-right: 25px;
    }
    &__heart{
        margin-top: 30px;
        .fa-heart{
            @include heart-empty;
            font-size: 1.5rem;
        }
        &--full{
            @include heart-full;
            font-size: 1.5rem;
        }
    }
}

.article-menu{
    padding-bottom: 40px;
    &__bloc-title{
        max-width: 635px;
        margin: auto;
        &--title{
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: 5px;
            max-width: 635px;
            margin: auto;
        }
        &--underline{
            width: 40px;
            height: 3px;
            background-color: $color-third;
            border: none; /* Supprime la bordure par défaut du <hr> */
            margin: 0;
        }
    }
}

.article-plat{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 635px;
    background-color: #FFF;
    border-radius: 15px;
    margin-top: 12px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
    &__desc{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 15px;
        width: 100%;
        &--title{
            margin: 0;
            margin-bottom: 5px;
            color: #000;
            font-family: Roboto;
            font-size: 1.125rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--subtitle{
            margin: 0;
            font-size: 0.94rem;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }
    &__price{
        &--number{
            padding-top: 42px;
            padding-left: 20px;
            font-weight: 700;
            padding-right: 20px;
            margin: 0;
            
        }
    }
    &__check{
        position: relative;
        background-color: $color-third;
        color: #FFF;
        font-size: 1.5rem;
        min-width: 0px; //A mettre à zéro pour que le bouton apparaisse
        overflow: hidden;
        transition: min-width 300ms ease-in-out;
        .icone{
            position: absolute;
            top: 25px;
            left: 23px;

        }
    }
    &:hover{
        cursor: pointer;
        .article-plat__check {
        min-width: 70px; 
        }  
    }
}

.bloc-command{
    margin-top: -20px;
    padding-bottom: 40px;
    a{
        text-decoration: none;
    }
    &__button{
        @include button-form;
    }
}

.footer-menu{
    margin-top: -40px;
}

// ANIMATIONS

.animation-entrees {
    animation: animation-menu 1000ms 100ms cubic-bezier(.2,.6,.5,1) both;
}
.animation-plats {
    animation: animation-menu 1000ms 400ms cubic-bezier(.2,.6,.5,1) both;
}
.animation-desserts {
    animation: animation-menu 1000ms 700ms cubic-bezier(.2,.6,.5,1) both;
}
.animation-entrees-title {
    animation: animation-title 1000ms 0ms cubic-bezier(.2,.6,.5,1) both;
}
.animation-plats-title {
    animation: animation-title 1000ms 300ms cubic-bezier(.2,.6,.5,1) both;
}
.animation-desserts-title {
    animation: animation-title 1000ms 600ms cubic-bezier(.2,.6,.5,1) both;
}

@keyframes animation-menu {
    0% {
        transform: translate(-150%);
    }
    70% {
        transform: translate(3%);
    }
    100% {
        transform: translate(0%);
    }
}

@keyframes animation-title {
    0% {
        transform: translate(150%);
    }
    70% {
        transform: translate(-3%);
    }
    100% {
        transform: translate(0%);
    }
}