.img_restaurant {
    height: 275px;
    width: 100%;
    object-fit: cover;
    @media (min-width: 992px){
        height: 375px;
    }
}

.fiche-menu{
    border-radius: 40px 40px 0px 0px;
    background-color: $color-grey-1;
    position: relative;
    top: -40px;
    max-width: 1055px;
    margin: auto;
    padding: 0 13px 0 13px;
}

.section-menu-header{
    display: flex;
    max-width: 375px;
    margin: auto;
    justify-content: space-around;
    @media (min-width: 992px){
        padding: 35px 0 20px 0;
    }
    &__title{
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
    }
    &__heart{
        align-self: center;
        font-size: 22px;
    }
}

.article-menu{
    padding-bottom: 40px;
    &__bloc-title{
        max-width: 635px;
        margin: auto;
        &--title{
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: 5px;
            max-width: 635px;
            margin: auto;
        }
        &--underline{
            width: 40px;
            height: 3px;
            background-color: $color-third;
            border: none; /* Supprime la bordure par défaut du <hr> */
            margin: 0;
        }
    }
}

.article-plat{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 635px;
    background-color: #FFF;
    border-radius: 15px;
    margin-top: 12px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);
    &__desc{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 15px;
        width: 100%;
        &--title{
            margin: 0;
            margin-bottom: 5px;
            color: #000;
            font-family: Roboto;
            font-size: 1.125rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--subtitle{
            margin: 0;
            font-size: 0.94;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
    }
    &__price{
        &--number{
            padding-top: 42px;
            padding-left: 20px;
            font-weight: 700;
            padding-right: 20px;
            margin: 0;
            
        }
    }
    &__check{
        position: relative;
        background-color: $color-third;
        color: #FFF;
        font-size: 1.5rem;
        min-width: 0px; //A mettre à zéro pour que le bouton apparaisse
        overflow: hidden;
        transition: min-width 300ms ease-in-out;
        .icone{
            position: absolute;
            top: 25px;
            left: 23px;

        }
    }
    &:hover{
        cursor: pointer;
        .article-plat__check {
        min-width: 70px; 
        }  
    }
}

.footer-menu{
    position: relative;
    top: -40px;
}