@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: black;
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.bloc-logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 89px 13px 89px;
}
.bloc-logo__logo {
  width: 197px;
  height: auto;
}

.bloc-map {
  display: flex;
  justify-content: center;
  height: 50px;
  color: #353535;
  font-weight: 500;
  background-color: #EAEAEA;
}
.bloc-map__map-icon {
  margin-top: 15px;
  margin-right: 17px;
}

.bloc-action {
  background-color: #F6F6F6;
  padding-bottom: 57px;
}
.bloc-action__title {
  margin: 0;
  padding: 39px 40px 0px 40px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.bloc-action__subtitle {
  margin: 0;
  padding: 15px 20px 0px 20px;
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  text-align: center;
}
.bloc-action__button {
  display: block;
  margin: auto;
  margin-top: 27px;
  font-size: 1rem;
  color: #FFF;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: opacity 400ms ease-in-out, box-shadow 400ms ease-in-out;
}
.bloc-action__button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
  opacity: 0.8;
}

.section-fonctionnement {
  padding: 48px 20px 68px 20px;
  margin: auto;
}
.section-fonctionnement__title {
  max-width: 490px;
  margin: auto;
  text-align: left;
  padding: 0;
}

.fonctionnement-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 322px;
  height: 72px;
  margin: auto;
  margin-top: 25px;
  font-weight: 500;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement-card__number {
  position: relative;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  color: #FFF;
  font-size: 0.875rem;
  background: #9356DC;
}
.fonctionnement-card__img {
  margin: 0 25px 5px 10px;
  color: #7E7E7E;
}
.fonctionnement-card__img-store {
  color: #9356DC;
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  padding-bottom: 68px;
  background-color: #F6F6F6;
}
.section-restaurants__title {
  width: 100%;
  max-width: 490px;
  align-self: center;
}

.restaurant-links {
  display: block;
  text-decoration: none;
  border-radius: 15px;
  width: 100%;
  max-width: 490px;
  margin-bottom: 18px;
}

.article-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: black;
  width: 100%;
  border-radius: 15px;
}
.article-restaurant__img {
  display: inline;
  height: 231px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
}
.article-restaurant__newlogo {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 13px;
  right: 13px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  padding: 7px 9px;
  width: 80px;
}

.article-restaurant-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article-restaurant-content__txt {
  padding: 0 0 0 13px;
}
.article-restaurant-content__txt--title {
  max-width: 322px;
  margin: 16px 0 5px 0;
}
.article-restaurant-content__txt--subtitle {
  margin-top: 0;
}

.article-heart {
  margin-top: 30px;
  margin-right: 55px;
}
.article-heart .fa-heart {
  position: absolute;
  font-size: 1.5em;
}
.article-heart__full {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.3s ease-in-out;
}
.custom-checkbox input[type=checkbox], .custom-checkbox .checked {
  display: none;
}

.custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
}

.custom-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

footer {
  padding: 22px 25px;
  color: #FFF;
  background-color: #353535;
}

.footer-title {
  color: var(--white, #FFF);
  font-family: Shrikhand;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}

.footer-links {
  text-decoration: none;
  color: #FFF;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-list__element {
  margin-top: 7px;
}
.footer-list__element--ustensil {
  margin-right: 10px;
}
.footer-list__element--handshahe {
  margin-right: 6px;
}

/*# sourceMappingURL=style.css.map */
