@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

h1 {
  flex-grow: 1;
  text-align: center;
  color: black;
  font-family: Shrikhand, sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.3rem;
  }
}

.bloc-logo {
  display: flex;
  position: relative;
  height: 63px;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0px 89px 0px 89px;
}
.bloc-logo__back {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  color: #353535;
}
.bloc-logo__back--hidden {
  display: none;
}
@media (min-width: 768px) {
  .bloc-logo {
    height: 96px;
  }
}

.bloc-map {
  display: flex;
  justify-content: center;
  height: 50px;
  color: #353535;
  font-weight: 500;
  background-color: #EAEAEA;
}
.bloc-map__map-icon {
  margin-top: 15px;
  margin-right: 17px;
  margin-left: 70px;
}
.bloc-map__search {
  border: none;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
}

.bloc-action {
  background-color: #F6F6F6;
  padding-bottom: 57px;
}
.bloc-action__title {
  margin: 0;
  padding: 39px 40px 0px 40px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .bloc-action__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
.bloc-action__subtitle {
  margin: 0;
  padding: 15px 20px 0px 20px;
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  text-align: center;
}
.bloc-action__button {
  display: block;
  margin: auto;
  margin-top: 27px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: opacity 400ms ease-in-out, box-shadow 400ms ease-in-out;
}
.bloc-action__button a {
  font-size: 1rem;
  color: #FFF;
}
.bloc-action__button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
  opacity: 0.8;
}
.bloc-action a {
  text-decoration: none;
}

.section-fonctionnement {
  padding: 48px 20px 68px 20px;
  margin: auto;
}
.section-fonctionnement__title {
  max-width: 490px;
  margin: auto;
  text-align: left;
  padding: 0;
}
@media (min-width: 992px) {
  .section-fonctionnement__title {
    max-width: 1100px;
  }
}
@media (min-width: 992px) {
  .section-fonctionnement__etapes {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
  }
}

.fonctionnement-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 322px;
  height: 72px;
  margin: auto;
  margin-top: 25px;
  font-weight: 500;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.fonctionnement-card__number {
  position: relative;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  color: #FFF;
  font-size: 0.875rem;
  background: #9356DC;
}
.fonctionnement-card__img {
  margin: 0 25px 5px 10px;
  color: #7E7E7E;
}
.fonctionnement-card__img-store {
  color: #9356DC;
}
@media (min-width: 992px) {
  .fonctionnement-card {
    width: 30%;
  }
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  padding-bottom: 68px;
  background-color: #F6F6F6;
}
@media (min-width: 768px) {
  .section-restaurants {
    padding-bottom: 0px;
    margin-bottom: -20px;
  }
}
.section-restaurants__title {
  width: 100%;
  max-width: 490px;
  align-self: center;
}
@media (min-width: 768px) {
  .section-restaurants__title {
    max-width: 1100px;
  }
}
.section-restaurants__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .section-restaurants__list {
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant-links {
  display: block;
  text-decoration: none;
  border-radius: 15px;
  width: 100%;
  max-width: 490px;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .restaurant-links {
    width: 48%;
    margin-bottom: 50px;
  }
}

.article-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: black;
  width: 100%;
  border-radius: 15px;
}
.article-restaurant__img {
  display: inline;
  height: 231px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
}
.article-restaurant__newlogo {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 13px;
  right: 13px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  padding: 7px 9px;
  width: 80px;
}

.article-restaurant-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article-restaurant-content__txt {
  padding: 0 0 0 13px;
}
.article-restaurant-content__txt--title {
  max-width: 322px;
  margin: 16px 0 5px 0;
}
.article-restaurant-content__txt--subtitle {
  margin-top: 0px;
}

.article-heart {
  margin-top: 30px;
  margin-right: 55px;
}
.article-heart .fa-heart {
  position: absolute;
  font-size: 1.5em;
}
.article-heart__full {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(#9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.5em;
}
.article-heart__full:hover {
  cursor: pointer;
  opacity: 1;
}

footer {
  padding: 22px 25px;
  color: #FFF;
  background-color: #353535;
}
@media (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 54px;
    padding: 30px 25px;
  }
}

.footer-title {
  color: var(--white, #FFF);
  font-family: Shrikhand;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 992px) {
  .footer-title {
    padding-left: 100px;
    padding-right: 35px;
  }
}

.footer-links {
  text-decoration: none;
  color: #FFF;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-list__element {
  margin-top: 7px;
}
.footer-list__element--ustensil {
  margin-right: 10px;
}
.footer-list__element--handshahe {
  margin-right: 6px;
}
@media (min-width: 992px) {
  .footer-list__element {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .footer-list {
    display: flex;
  }
}

.partners {
  font-weight: 500;
}
.partners__space {
  margin-right: 50px;
}

html, body {
  animation: no-overflow 3s linear;
}

.content {
  opacity: 0;
  animation: show-content both 2s linear;
}

.bloc-loader {
  position: absolute;
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  padding-top: 350px;
  opacity: 1;
  background-color: #F6F6F6;
  animation: mask-loader both 2s linear;
}
.bloc-loader__loader {
  border: 4px solid #9356DC;
  border-top: 4px solid #FF79DA;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear both 2.3;
}
.bloc-loader__txt {
  margin-top: 50px;
  font-weight: 500;
  color: #353535;
  animation: mask-loader both 2s linear;
  animation: animation-text 1.5s ease-in-out both 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mask-loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-content {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-text {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes no-overflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.img_restaurant {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .img_restaurant {
    height: 375px;
  }
}

.fiche-menu {
  overflow: hidden;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  position: relative;
  top: -40px;
  max-width: 1055px;
  margin: auto;
  padding: 0 13px 0 13px;
}

.section-menu-header {
  display: flex;
  max-width: 375px;
  margin: auto;
  justify-content: center;
  position: relative;
  right: 10px;
}
@media (min-width: 992px) {
  .section-menu-header {
    padding: 35px 0 20px 0;
  }
}
.section-menu-header__title {
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-weight: 400;
  margin-right: 25px;
}
.section-menu-header__heart {
  margin-top: 30px;
}
.section-menu-header__heart .fa-heart {
  position: absolute;
  font-size: 1.5rem;
}
.section-menu-header__heart--full {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(#9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.5rem;
}
.section-menu-header__heart--full:hover {
  cursor: pointer;
  opacity: 1;
}

.article-menu {
  padding-bottom: 40px;
}
.article-menu__bloc-title {
  max-width: 635px;
  margin: auto;
}
.article-menu__bloc-title--title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
  max-width: 635px;
  margin: auto;
}
.article-menu__bloc-title--underline {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border: none; /* Supprime la bordure par défaut du <hr> */
  margin: 0;
}

.article-plat {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 635px;
  background-color: #FFF;
  border-radius: 15px;
  margin-top: 12px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
.article-plat__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  width: 100%;
}
.article-plat__desc--title {
  margin: 0;
  margin-bottom: 5px;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-plat__desc--subtitle {
  margin: 0;
  font-size: 0.94;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-plat__price--number {
  padding-top: 42px;
  padding-left: 20px;
  font-weight: 700;
  padding-right: 20px;
  margin: 0;
}
.article-plat__check {
  position: relative;
  background-color: #99E2D0;
  color: #FFF;
  font-size: 1.5rem;
  min-width: 0px;
  overflow: hidden;
  transition: min-width 300ms ease-in-out;
}
.article-plat__check .icone {
  position: absolute;
  top: 25px;
  left: 23px;
}
.article-plat:hover {
  cursor: pointer;
}
.article-plat:hover .article-plat__check {
  min-width: 70px;
}

.bloc-command {
  margin-top: -20px;
  padding-bottom: 40px;
}
.bloc-command a {
  text-decoration: none;
}
.bloc-command__button {
  display: block;
  margin: auto;
  margin-top: 27px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  transition: opacity 400ms ease-in-out, box-shadow 400ms ease-in-out;
}
.bloc-command__button a {
  font-size: 1rem;
  color: #FFF;
}
.bloc-command__button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
  opacity: 0.8;
}

.footer-menu {
  margin-top: -40px;
}

.animation-entrees {
  animation: animation-menu 1000ms 100ms cubic-bezier(0.2, 0.6, 0.5, 1) both;
}

.animation-plats {
  animation: animation-menu 1000ms 400ms cubic-bezier(0.2, 0.6, 0.5, 1) both;
}

.animation-desserts {
  animation: animation-menu 1000ms 700ms cubic-bezier(0.2, 0.6, 0.5, 1) both;
}

.animation-entrees-title {
  animation: animation-title 1000ms 0ms cubic-bezier(0.2, 0.6, 0.5, 1) both;
}

.animation-plats-title {
  animation: animation-title 1000ms 300ms cubic-bezier(0.2, 0.6, 0.5, 1) both;
}

.animation-desserts-title {
  animation: animation-title 1000ms 600ms cubic-bezier(0.2, 0.6, 0.5, 1) both;
}

@keyframes animation-menu {
  0% {
    transform: translate(-150%);
  }
  70% {
    transform: translate(3%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes animation-title {
  0% {
    transform: translate(150%);
  }
  70% {
    transform: translate(-3%);
  }
  100% {
    transform: translate(0%);
  }
}

/*# sourceMappingURL=style.css.map */
